apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cluster-upgrade-secret
spec:
  refreshInterval: '600s'
  secretStoreRef:
    kind: ClusterSecretStore
    name: gcp
  target:
    name: cluster-upgrade-secret
    creationPolicy: Owner
  data:
  - secretKey: DEMO_GH_PAT
    remoteRef:
      key: DEMO_GH_PAT_DH
  - secretKey: svc_account.json
    remoteRef:
      key: DEMO_GCP_SA_JSON